/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    width: 1280px;
}
/*
  ========================================
  Content
  ========================================
*/
nav {
    text-align: center;
}

ul {
    padding: 31.5px;
    margin: 0 auto;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: 700;
    color: #FF0000;
    font-size: 18px;
}

a {
    padding-left: 72px;
}

.download {
    padding-left: 50px;
}

.img {
    height: 789px;
}

.tilt {
    text-align: center;
    padding: 49px 253px 38px 253px;
}

.tilt-h2 {
    margin: 0 auto;
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: 700;
    color: #373737;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 26.82px;
}

.text {
    margin: 0 0 28px 0;
    text-align: center;
}

.text-1,.text-2 {
    margin: 0 auto;
    font-family: montserrat;
    font-weight: 400;
    color: #373737;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 26px;
}

.text-1 {
    height: 132px;
}

.text-2 {
    height: 216px;
}

.div-btn {
    margin-top: 66px;
    text-align: center;
}

.btn {
    margin: 0;
    padding: 0;
    border: 0;
    width: 191px;
    height: 51px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #FF0000;
    /*text*/
    font-family: montserrat;
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.8px;
    line-height: 12px;
    text-transform: uppercase;
}

.div-info {
    margin: 82px 105px 29px 0;
    text-align: right;
}

.info {
    margin: 0 auto;
    font-family: montserrat;
    font-weight: 700;
    color: #373737;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 19.5px;
}